@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF; /* Fondo blanco */
}

header {
    background-color: #00547E; /* Fondo azul */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
}

.header-content {
    max-width: 1200px; /* Limitar el ancho del contenido del header */
    margin: 0 auto; /* Centrar el contenido del header */
    padding: 0 20px; /* Añadir márgenes laterales */
}

header h1 {
    font-size: 40px; /* Tamaño más grande para el título */
}

header p {
    font-size: 26px; /* Tamaño más grande para el subtítulo */
    margin-top: 10px; /* Espacio entre título y subtítulo */
}

#navbar {
    background-color: #00547E; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar .cd-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    margin: 0;
}

#navbar .cd-menu li {
    margin: 0;
}

#navbar .cd-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar .cd-menu a:hover {
    background-color: #003F5C;
}

.menu-with-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00547E; /* Fondo azul igual al header */
    color: white; /* Texto en blanco */
}

.menu-content {
    flex: 1;
    margin-right: 20px;
}

.menu-content p {
    font-size: 24px;
    color: white; /* Texto en blanco */
    margin-bottom: 20px;
}

.menu-image {
    flex: 1;
    text-align: center;
}

.menu-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    padding: 20px;
    margin: 30px auto;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #0079B6;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.color-block {
    padding: 20px;
    background-color: white;
    color: #69400A;
    border-radius: 10px;
    text-align: left;
}

.color-block h2 {
    color: #69400A;
    font-size: 30px;
    margin-bottom: 15px;
}

.color-block h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.color-block p {
    color: #A87839;
    font-size: 24px;
}

.color-block p strong {
    font-weight: bold;
    color: #69400A;
}

footer {
    background-color: #00547E;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    color: #BCD5FF;
    text-decoration: underline;
}

footer p {
    margin: 0;
}

.img-right-container {
    float: right;
    margin: 10px;
    max-width: 50%;
}

.img-right-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-full-container {
    width: 100%;
    margin: 20px 0;
}

.img-full-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    text-align: center;
    font-size: 18px;
    color: #69400A;
    margin-top: 5px;
}

.nav-buttons {
    text-align: center;
    margin-top: 20px;
}

.nav-buttons .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3F9988;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-buttons .button:hover {
    background-color: #00547E;
    color: white;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3F9988;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

#backToTop:hover {
    background-color: #00547E;
}

#countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#counterBox {
    background-color: #3F9988; /* Fondo del contador */
    color: white; /* Color del texto blanco */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
}

#counter {
    font-size: 100px;
    margin: 0;
}

.count-description {
    font-size: 24px;
    margin-top: 10px;
    color: white; /* Color del texto blanco */
}

.img-full {
    max-width: 80%; /* Ajuste para la imagen de "Ríos en Ñuble" */
    display: block;
    margin: 0 auto;
}
.menu-image img {
    width: 660px;
    height: 690px;
    border-radius: 10px;
}
iframe {
    display: block;
    margin: 0 auto; /* Centrar el iframe */
    width: 90%; /* Ajuste para el ancho del iframe */
    height: 600px; /* Ajuste para la altura del iframe */
    border: none;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .menu-with-image {
        flex-direction: column;
        text-align: center;
    }

    .img-right-container, .img-full-container {
        float: none;
        margin: 20px 0;
        max-width: 100%;
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons .button {
        margin: 10px 0;
    }

    iframe {
        width: 100%;
    }
}

.cd-menu a {
    display: block;
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #3F9988; /* Fondo verde */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cd-menu a:hover {
    background-color: #0079B6; /* Cambiar el fondo al pasar el ratón */
    color: white; /* Cambiar el color del texto al pasar el ratón */
}
section#section2 .img-right-container img {
    width: 1240px;
    height: 531px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.nav-buttons .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3F9988;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.nav-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas si es necesario */
}
/* CSS para la última imagen */
.img-full-container img {
    width: 1240px;
    height: 644px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* CSS para los botones para que no se muevan */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-buttons .button {
    padding: 10px 20px;
    background-color: #3F9988;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Centra el texto de los botones */
    flex: 1;  /* Asegura que los botones ocupen el mismo espacio */
    margin: 0 10px;  /* Añade margen entre los botones */
}

.nav-buttons .button:hover {
    background-color: #00547E;
    color: white;
}


